# Data Visualisation

In [4]:
import pickle

In [45]:
file = open("all_data.pickle",'rb')
data = pickle.load(file)
file.close()

In [37]:
data['transactions'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    8495
Name: transactions, dtype: int64

To delete: 
    transactions
    phone
    is_closed
    distance
    response
    user.name
    user.image_url 
    time_created
    image url

In [46]:
data.reset_index(inplace=True)

In [55]:
data = data[['id', 'alias', 'name','url',
       'review_count', 'rating','price', 'latitude', 'longitude', 'address1', 'address2',
       'address3', 'city', 'zip_code','display_address',
       'alias_1', 'title_1', 'alias_2', 'title_2', 'alias_3', 'title_3','id_review1', 'url_review1', 'text_review1',
       'rating_review1', 'user.id_review1', 'id_review2', 'url_review2', 'text_review2',
       'rating_review2', 'user.id_review2','id_review3', 'url_review3', 'text_review3',
       'rating_review3', 'user.id_review3']]

In [72]:
data['text_review2'][1]

'Delicious fresh juices including sugarcane juice. Yummy brazilian empanadas. Staff we very accommodating and made us some custom combinations. Vegetarian...'

In [58]:
data.describe()

,review_count,rating,latitude,longitude,rating_review1,rating_review2,rating_review3
count,8495.000000,8495.000000,5589.000000,5589.000000,1198.000000,733.000000,553.000000
mean,4.553384,3.745851,38.728204,-9.152651,4.184474,4.012278,3.947559
std,17.983928,0.787999,0.031806,0.039705,1.173443,1.225241,1.315652
min,0.000000,0.000000,38.517813,-9.470845,1.000000,1.000000,1.000000
25%,1.000000,3.000000,38.711739,-9.160555,4.000000,3.000000,3.000000
50%,2.000000,4.000000,38.721919,-9.145665,5.000000,4.000000,4.000000
75%,3.000000,4.000000,38.741618,-9.137290,5.000000,5.000000,5.000000
max,928.000000,5.000000,39.679909,-7.968665,5.000000,5.000000,5.000000

In [62]:
data['id_review1'].isna().sum()

7297

In [66]:
data['longitude'].isna().sum()

2906

In [69]:
data['display_address'].isna().sum()

2905

In [70]:
data['price'].isna().sum()

5549

In [71]:
data['price'].value_counts()

€€      1558
€        785
€€€      539
€€€€      64
Name: price, dtype: int64